<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>New Cake</h1>
	<form action="/cakes" methods="POST">
		Name: <input type="text" name="name"><br/>
		Flavor: <input type="text" name="flavor"><br/>
		<button type="submiot">Create Cake</button>
	</form>
</body>
</html>